* {
  box-sizing: border-box;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  visibility: hidden;
  width: 0;
  height: 0;
}

body, html {
  margin: 0;
  padding: 0;
  background: #f4f7f6;
  height: 100%;
  overflow: hidden;
}

.scroll-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.scroll-container > div {
    height: 200px;
    background: #673AB7;
    width: 50%;
    margin: 10px auto;
}

.scroll-container > div:nth-child(2n+0) {
    width: 100%;
}

.scroll-container scrollbar {
    width: 8px;
    right: 2px;
    opacity: 0;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.333s ease;
    border: 1px solid rgba(152, 152, 152, 0.5);
}

.scroll-container scrollbar.scrolling {
    opacity: 1;
}
